/* PENDINGS 
revisar footer links
link github y logo
LIMPIAR
*/




* *,
*::after,
*::before {
    box-sizing: border-box;
} 


/* COMMON */


  .headinghome{
    font-size: 130px;
    color: green;
    margin: 0;
  }


body {
    
    margin-top: 0%;
    margin: 3%;
    background-color: rgb(136, 200, 136);
}


@font-face {
    font-family: myfirstfont;
    src: url(/Fonts/Rakkas/Rakkas-Regular.ttf);   
}

.rakkas {
    font-family: myfirstfont;
}


 .centerp{font-size: 40px;}






/* HEADER */

header {
display: flex;
 background-color: rgb(136, 200, 136);;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    top: 0;
    margin: 0;
    font-size: 0px;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-bottom: 20px;
    font-family: Arial;
    color: green;
 
   
}

   .itemheader {
       font-size: 18px;
       gap: 5px;
       flex-direction: row;
       align-content: center;
       justify-content: center;
       text-decoration: none;
       display: flex;
       flex-wrap: wrap;
 


   }

.ulheader {
    display: flex;
    color: rgb(0, 77, 0);
    text-decoration: none;
    align-items: center;
    font-size: 26px;
    gap: 5px;

}

.logo {
    padding-top: 10px;
    animation-name: logo;
    animation-duration: 0.5s;
    animation: forwards 1px;background-position: 100%;
     
            width: 80px;
}


.logo:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.github:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;

}


.github {
    text-decoration: none;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@media only screen and (max-width: 600px){
    header{ 
        flex-direction: column;
     }

     .logo{width: 150px; place-self: center;}
     
 .itemheader {
     font-size: 16px;
     gap: 5px;
     flex-direction: row;
     align-content: center;
     justify-content:baseline;
     text-decoration: none;
     display: flex;

 }

}




/* SECTION */



.sectiongrid {
    display: grid;

}

section {background-color: white;border-radius: 0.5em; padding-bottom: 20px;
}

/* ARTICLE */
article {
    background-color: white;
    width: 100%;
    background-color: white;
}

/* FOOTER */

footer {
    background-color: rgb(136, 200, 136);
    font-family: Arial;
  

}
.item-footer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
   
   
    
  
}

.item-footer-list{
    display: flex;
    list-style: none;
    font-size: 22px;
    margin: 0%;
    flex-wrap: wrap;
    



}


/* HOME */


.topdeals {
    font-size: 50px;
    color: green;
}

.item-home{
display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 20px;

    
}



 
.item-home-global-list{
    display: flex;
justify-content: flex-start;
    flex-direction: column;
    gap:15px;
    font-family: Arial;
    align-items: center;
    font-size: 25px;
    

} 

/* .h1home{
    font-size: 120px;
    color: green;
    margin: 0%;
    margin-left: 50%;
    margin-right: 50%;
    
} */



h2{
    font-size: 20px;
        color: green;
        margin: 0%;
}

p{
    font-size: 20px;
    font: Arial;
    margin: 0%;
}


.divp2{
    font-size: 25px;   

}




.logoregister{
    animation-name: logo;
        animation-duration: 0.5s;
        animation: forwards 1px;
        background-position: 100%;
    

}


.logoregister:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

/* .logoregister {
    animation-name: logoregister;
    animation-duration:4s;
    animation-iteration-count: infinite
    ;
}

@keyframes logoregister {
0% {
        opacity: 1;
    }

    20% {
        opacity: 0.5;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0,5;
    }
} */

/* ABOUT US */

.headingabout {
    font-size: 130px;
    color: green;
}

.containerabout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.itemabout:nth-child(1){background-color: green;}

.item-about{
display: flex;
}


.item-list-about{
    list-style-type:none;
    align-items: baseline;
    flex-direction: column;
    gap: 10px;
    margin: 0%;
    padding: 0%;
   

}

/* .item-logo-about {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    gap: 2px;
    font-size: 18px;
    
} */
.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined {
    padding-left: 30px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

HTML CSSResult Skip Results Iframe EDIT ON .container-name {
    margin-left: 30px;
    margin-top: 60px;
}

.example_d {
    font-family: 'arial';
    font-size: 11px;
    color: rgb(136, 200, 136) !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 1px;
    border: 1px solid #20bf6b !important;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.example_d:hover {
    color: white !important;
    border-radius: 50px;
    background-color: green;
    border-color: green !important;
    transition: all 0.6s ease 0s;
}

@media only screen and (max-width: 600px) {
  .about-logo{width: 250px; padding-top: 50px;}
   .ulheader {
       display: flex;
       color: rgb(0, 77, 0);
       text-decoration: none;
       align-items:
       center;
       font-size: 18px;
   }

         .headingabout {
             font-size: 80px;
             color: green;
             align-self: center;

         }

.item-list-about {
    align-content: flex-start;
    justify-content:flex-start;
}

.item-footer-list:nth-child(3){padding-left: 30px;}



.item-footer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-self: center;
  
    



}
.item-footer-list{
    font-size: 13px;
    align-self: baseline;
    justify-content: flex-start;
 




}



.logoregister{width: 250px;
align-content: center; margin: 0%;}
        
}

.logoregister:hover {
    animation: shake 0.5s;
    animation-iteration-count: 2;
}


/* CONTENT */

.heading {
    font-size: 130px;
    color: green;
}

.item-code{
    display: flex;
flex-direction: column;
  
}



/* table {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0%;
    margin-left: 15%;
    margin-right: 15%;



}

tr:hover {
    background-color: rgb(136, 200, 136);
}

th :nth-child(1) {
    text-transform: uppercase;
}

td,
th {
    border: 1px solid rgb(57, 123, 57);
    text-align: left;
    padding: 8px;


}

td:nth-child(4) {
    color: green;
    font-size: 28px;
    font-weight: bolder;

}


tr:nth-child(2) td:nth-child(4) {
    color: white;

}


tr:nth-child(4) td:nth-child(4) {
    color: white;

}

tr:nth-child(6) td:nth-child(4) {
    color: white;

} */


table {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0%;
    margin-left: 15%;
    margin-right: 15%;

 
}

tr:hover {
    background-color: rgb(136, 200, 136);
    color: white;
}

th :nth-child(1){text-transform: uppercase;}

td,
th {
    border: 1px solid rgb(57, 123, 57);
    text-align: left;
    padding: 8px;
    
    
}


td:nth-child(4){
    color: green;
    font-size: 28px;  
    font-weight: bolder;

}






.grid-community{
    display: grid;
    grid-template-areas: "changeclubs quantumleap";
    align-items:baseline ;
    gap: 80px;
   }

.changeclubs{
    grid-area: changeclubs;
  
    
}

.quantumleap{
    grid-area: quantumleap;
    
    
    
}

/* REGISTRATION */


.h1registration {
    padding-top: 10px;
    font-size: 120px;
    color: green;
    margin: 0%;
    grid-area: title;
    place-self: center;
   

}


.grid {
    display: grid;
    grid-template-areas: 
    "title title"
    "name surname"
    "email birth"
    "location area"
    "notifications notifications"
    "terms terms"
    "agree agree"
    "submit submit";

    font-size: 32px;
    align-items: center;
    justify-content: center;
    column-gap: .1px;
    row-gap: 20px;
}


.agree{
grid-area: agree;

}

.name{grid-area: name;
    

}
.surname{grid-area: surname;
   
}

.email {
    grid-area: email;
    
}
.birth {
    grid-area: birth;
   
    
}
.location {
    grid-area: location;

}
.area {
    grid-area: area;

}
.notification {
    grid-area: notifications;
    
    
}
.terms {
    grid-area: terms;
    width: 90%;
    list-style-type: square
    
    
}
.submit {
grid-area: submit;

color: green;
font-size: 24px;

}


/* MEDIA QUERY */


@media only screen and (max-width: 600px) {
    header {
        display: flex;
    }

    .h1home {
        font-size: 10px;
    }

    h6 {
        margin: 0;
    }

    h6:nth-child(1) {
        align-self: center;
    }

    iframe {
        width: 200px;
        height: 200px
    }

.item-home {
    display: flex;
   
}


    .item-home-global-list {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
      align-items: center;
        gap: 10px;
        flex: wrap;
        align-content: stretch;
       
    }


    .headinghome {
        font-size: 80px;
        color: green;
        align-self: center;
        margin: auto;
        margin-right: 50%;
        margin-left: 50%;
        

    }

        .centerp {
            font-size: 20px;
            flex-wrap: wrap;
            width: 70%;
          
        }

                table {
                    border-collapse: collapse;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 8px;
                    margin: 0%;
                    margin-left: 01%;
                    margin-right: 01%;

                }

                                td:nth-child(4) {
                                    color: green;
                                    font-size: 10px;
                
                                }
                
.grid-community {
    display: grid;
    grid-template-areas: "changeclubs"
    "quantumleap";
    align-items: baseline;
    gap: 20px;
}



.grid {
    display: grid;
    grid-template-areas:
        "title title"
        "name name"
        "surname surname"
        "email email"
        "birth birth"
        "location location"
        "area area"
        "notifications notifications"
        "terms terms"
        "agree agree"
        "submit submit";
    justify-content: flex-end;
    gap: 10px;
    font-size: 11px;


}


.h1registration{
    font-size: 40px;
}

.divp2 {
    font-size: 15px;
}

.divp2:nth-child(1){display: block;}

 .heading {
    font-size: 35px;
        color: green;
        align-self: center;
        margin: auto;
        margin-right: 20%;
        margin-left: 20%;

 }

}



